<!DOCTYPE html>
<html>
  <head>

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" >

    <title>Set the default title in data/site.yml or in the frontmatter.</title>

    <meta name="keywords" content="Set the default keywords in data/site.yml or in the frontmatter." />
    <meta name="description" content="Set the default description in data/site.yml or in the frontmatter.">
    <meta name="author" content="Set the default author in data/site.yml or in the frontmatter.">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Web Fonts  -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light" rel="stylesheet" type="text/css">

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/vendor/fontawesome/css/font-awesome.css">
    <link rel="stylesheet" href="/vendor/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="/vendor/owlcarousel/owl.carousel.min.css">
    <link rel="stylesheet" href="/vendor/owlcarousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="/vendor/magnific-popup/magnific-popup.css">

    <!-- Theme CSS -->
    <link href="../../stylesheets/normalize.css" rel="stylesheet" />
    <link href="../../stylesheets/theme.css" rel="stylesheet" />
    <link href="../../stylesheets/theme-elements.css" rel="stylesheet" />
    <link href="../../stylesheets/theme-blog.css" rel="stylesheet" />
    <link href="../../stylesheets/theme-shop.css" rel="stylesheet" />
    <link href="../../stylesheets/theme-animate.css" rel="stylesheet" />

    <!-- Current Page CSS -->
    <link rel="stylesheet" href="/vendor/rs-plugin/css/settings.css" media="screen">
    <link rel="stylesheet" href="/vendor/circle-flip-slideshow/css/component.css" media="screen">

    <!-- Skin CSS -->
    <link href="../../stylesheets/skins/default.css" rel="stylesheet" />

    <!-- Theme Custom CSS 
    <link rel="stylesheet" href="css/custom.css"> -->

    <!-- Head Libs -->
    <script src="/vendor/modernizr/modernizr.js"></script>

    <!--[if IE]>
      <link rel="stylesheet" href="css/ie.css">
    <![endif]-->

    <!--[if lte IE 8]>
      <script src="/vendor/respond/respond.js"></script>
      <script src="/vendor/excanvas/excanvas.js"></script>
    <![endif]-->
    


  </head>

  <body class="partials partials_features partials_features_word-rotator">
    <header id="header" data-plugin-options='{"stickyEnabled": true, "stickyEnableOnBoxed": true, "stickyEnableOnMobile": true, "stickyStartAt": 57, "stickySetTop": "-57px", "stickyChangeLogo": true}'>
	<div class="header-body">
		<div class="header-container container">
			<div class="header-row">
				<div class="header-column ">
					<div class="header-logo">
						<a href="index.html">
							<img alt="Common Wealth Enterprises" data-sticky-width="150" data-sticky-height="" data-sticky-top="33" src="/images/logos/comwentlogo.png" class="logo">
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="header-container container header-nav header-nav-push-top">
			<button class="btn header-btn-collapse-nav" data-toggle="collapse" data-target=".header-nav-main">
				<i class="fa fa-bars"></i>
			</button>
			<ul class="header-social-icons social-icons hidden-xs">
			</ul>
			<div class="header-nav-main header-nav-main-effect-1 header-nav-main-sub-effect-1 collapse">
				
<nav>
<ul class="nav nav-pills" id="mainNav">
		<li class="dropdown">

			<a  data-hash data-hash-offset="60" class=" "  href="#About" >About</a>
		</li>
		<li class="dropdown">

			<a  data-hash data-hash-offset="60" class=" "  href="#Services" >Services</a>
		</li>
		<li class="dropdown">

			<a  data-hash data-hash-offset="60" class=" "  href="#Work" >Work</a>
		</li>
		<li class="dropdown">

			<a  data-hash data-hash-offset="60" class=" "  href="#Contact" >Contact Us</a>
		</li>
 </ul>
</nav>
			</div>
		</div>
	</div>
</header>
    <div class="container">
	<div class="row center mt-md">
		<div class="col-md-12">
			<h1 class="mb-sm word-rotator-title">
				Common Wealth Enterprises is
				<strong class="inverted">
					<span class="word-rotate" data-plugin-options='{"delay": 2000, "animDelay": 300}'>
						<span class="word-rotate-items">
							<span>incredibly</span>
							<span>especially</span>
							<span>extremely</span>
						</span>
					</span>
				</strong>
				beautiful and fully responsive.
			</h1>
			<p class="lead">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce elementum, nulla vel pellentesque consequat, ante nulla hendrerit arcu, ac tincidunt mauris lacus sed leo. vamus suscipit molestie vestibulum.
			</p>

			<hr class="tall mb-none">

		</div>
	</div>
</div>
    <footer id="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-5">
				<h4 class="">About Common Wealth Enterprises</h4>
				<p style="font-size:12px;">Common Wealth Enterprises is shaping a new consumer culture that combines social and economic value creation. We build, collaborate with, and support the growth of enterprises by integrating community values and social change with creative action and entrepreneurial approaches.</p>
			</div>
			<div class="footer-ribbon">
				<span>Get in Touch</span>
			</div>
			<div class="col-md-3">
				<div class="newsletter">
					<h4>Newsletter</h4>
					<p>Keep up on our always evolving product features and technology. Enter your e-mail and subscribe to our newsletter.</p>

					<div class="alert alert-success hidden" id="newsletterSuccess">
						<strong>Success!</strong> You've been added to our email list.
					</div>

					<div class="alert alert-danger hidden" id="newsletterError"></div>

					<form id="newsletterForm" action="php/newsletter-subscribe.php" method="POST">
						<div class="input-group">
							<input class="form-control" placeholder="Email Address" name="newsletterEmail" id="newsletterEmail" type="text">
							<span class="input-group-btn">
								<button class="btn btn-default" type="submit">Go!</button>
							</span>
						</div>
					</form>
				</div>
			</div>
			
			<div class="col-md-4">
				<div class="contact-details">
					<h4>Contact Us</h4>
					<ul class="contact">
						<li><p><i class="fa fa-map-marker"></i> <strong>Address:</strong> 934 Clark Street, Lansing, MI 48906</p></li>
						<li><p><i class="fa fa-phone"></i> <strong>Phone:</strong> 517-862-3251</p></li>
						<li><p><i class="fa fa-envelope"></i> <strong>Email:</strong> <a href="mailto:tstewart@comwent.com">tstewart@comwent.com</a></p></li>
					</ul>
				</div>
			</div>
			<div class="col-md-3">
			</div>
			<div class="col-md-2">
			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container">
			<div class="row">
				<div class="col-md-2">
					<a href="/" class="logo">
						<img alt="Common Wealth Enterprises" class="img-responsive" src="images/logos/comwent_whitelogo.png">
					</a>
				</div>
				<div class="col-md-6">
					<p>© Copyright 2015. All Rights Reserved.</p>
				</div>
				<div class="col-md-4">
					<nav id="sub-menu">
						<ul>
							<li><a href="page-faq.html">FAQ's</a></li>
							<li><a href="sitemap.html">Sitemap</a></li>
							<li><a href="contact-us.html">Contact</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
</footer>
    <!-- Vendor -->
<!--[if lt IE 9]>
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<![endif]-->
<!--[if gte IE 9]><!-->
<script src="vendor/jquery/jquery.js"></script>
<!--<![endif]-->
<script src="vendor/jquery.appear/jquery.appear.js"></script>
<script src="vendor/jquery.easing/jquery.easing.js"></script>
<script src="vendor/jquery-cookie/jquery-cookie.js"></script>
<script src="vendor/bootstrap/js/bootstrap.js"></script>
<script src="vendor/common/common.js"></script>
<script src="vendor/jquery.validation/jquery.validation.js"></script>
<script src="vendor/jquery.stellar/jquery.stellar.js"></script>
<script src="vendor/jquery.easy-pie-chart/jquery.easy-pie-chart.js"></script>
<script src="vendor/jquery.gmap/jquery.gmap.js"></script>
<script src="vendor/jquery.lazyload/jquery.lazyload.js"></script>
<script src="vendor/isotope/jquery.isotope.js"></script>
<script src="vendor/owlcarousel/owl.carousel.js"></script>
<script src="vendor/jflickrfeed/jflickrfeed.js"></script>
<script src="vendor/magnific-popup/jquery.magnific-popup.js"></script>
<script src="vendor/vide/vide.js"></script>

<!-- Theme Base, Components and Settings -->
<script src="javascripts/theme.js"></script>

<!-- Specific Page Vendor and Views -->
<script src="vendor/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
<script src="vendor/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
<script src="vendor/circle-flip-slideshow/js/jquery.flipshow.js"></script>
<script src="javascripts/views/view.home.js"></script>

<!-- google map script -->
<script src="http://maps.google.com/maps/api/js?sensor=false"></script>

<!-- Theme Custom -->
<script src="javascripts/custom.js"></script>

<!-- Theme Initialization Files -->
<script src="javascripts/theme.init.js"></script>


  </body>
</html>
