<div class="row">
	<div class="col-md-4">
		<div class="feature-box feature-box-style-6 reverse mb-none mt-xl" data-appear-animation="fadeInLeft" data-appear-animation-delay="300">
			<div class="feature-box-icon">
				<i class="fa fa-mobile text-color-primary"></i>
			</div>
			<div class="feature-box-info">
				<h4 class="mb-sm">100% Responsive</h4>
				<p class="mb-lg">Porto is fully responsive and will adapt itself to any mobile or tablet device.</p>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<img alt="Responsive" data-appear-animation="fadeInUp" class="hidden-xs img-responsive appear-animation fadeInUp appear-animation-visible" src="images/responsive-ready.png" style="margin-bottom: -1px;">
	</div>
	<div class="col-md-4">
		<div class="feature-box feature-box-style-6 mb-none mt-xl" data-appear-animation="fadeInRight" data-appear-animation-delay="300">
			<div class="feature-box-icon">
				<i class="fa fa-eye text-color-primary"></i>
			</div>
			<div class="feature-box-info">
				<h4 class="mb-sm">Retina Ready</h4>
				<p class="mb-lg">Porto is Retina Ready and your website will always looks perfect on any devices.</p>
			</div>
		</div>
	</div>
</div>