<section class="call-to-action call-to-action-primary mb-none">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="call-to-action-content align-left pb-md mb-xl ml-none">
					<h2 class="text-color-light mb-none mt-xl">Porto is ready for <strong>any design style...</strong></h2>
					<p class="lead mb-xl">Here are some premade options you can choose:</p>
				</div>
				<div class="call-to-action-btn">
					<a href="http://themeforest.net/item/porto-responsive-html5-template/4106987" target="_blank" class="btn btn-lg btn-primary btn-primary-scale-2 mr-md">Purchase Now!</a>
					<span class="mr-md text-color-light hidden-xs">Only <strong>$16</strong><span class="arrow arrow-light hlb" style="top: -88px; right: -47px;"></span></span>
				</div>
			</div>
		</div>
	</div>
</section>