<section class="call-to-action call-to-action-default call-to-action-in-footer mt-none no-top-arrow">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="call-to-action-content align-left pb-md mb-xl ml-none">
					<h2 class="mb-xs mt-xl">Start creating your new website today with <strong>Porto!</strong></h2>
					<p class="lead mb-xl">Now that you already know that Porto is the best choice for your next project, do not hesitate, purchase now for only $16 and join many happy customers. Get started now.</p>
				</div>
				<div class="call-to-action-btn">
					<a href="http://themeforest.net/item/porto-responsive-html5-template/4106987" target="_blank" class="btn btn-lg btn-primary"><i class="fa fa-cark mr-xs"></i> BUY PORTO NOW - $16</a>
					<p><span class="alternative-font font-size-sm mt-xs text-color-primary">Join The 18,000+ Happy Customers :)</span></p>
				</div>
			</div>
		</div>
	</div>
</section>