<div class="home-intro" id="home-intro">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<p>
					The fastest way to create your new and awesome <em>Website</em>
					<span>Check out our options and features included.</span>
				</p>
			</div>
			<div class="col-md-4">
				<div class="mt-lg mb-xl">
					<a href="#demos" data-hash class="btn btn-primary mr-md" data-appear-animation="fadeInDown" data-appear-animation-delay="300">SEE DEMO VERSIONS</a> <span  data-appear-animation="fadeInDown" data-appear-animation-delay="600">or <a href="http://themeforest.net/item/porto-responsive-html5-template/4106987">PURCHASE NOW - $16</a></span>
				</div>
			</div>
		</div>
	</div>
</div>