<section class="call-to-action call-to-action-default with-button-arrow call-to-action-in-footer">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="call-to-action-content">
					<h3>We have <strong>everything</strong> you need to create an <strong>awesome</strong> website!</h3>
					<p>We <strong>build</strong> mobile, secure, fast, reliable websites for small business owners.</p>
				</div>
				<div class="call-to-action-btn">
					<a href="http://themeforest.net/item/porto-responsive-html5-template/4106987" target="_blank" class="btn btn-lg btn-primary">Buy Now!</a><span class="arrow hlb hidden-xs hidden-sm hidden-md" data-appear-animation="rotateInUpLeft" style="top: -12px;"></span>
				</div>
			</div>
		</div>
	</div>
</section>