<div class="container">
	<div class="row">
		<div class="col-md-12 center">
			<h2 class="mt-xl mb-none">Key <strong>Features</strong></h2>
			<p class="lead mb-xl">There are so many reasons to choose Porto, here are a few items:</p>
			<hr class="invisible">
		</div>
	</div>

	<div class="row mb-xl">
		<div class="col-md-3">
			<div class="feature-box feature-box-style-6">
				<div class="feature-box-icon">
					<i class="fa fa-check text-color-primary"></i>
				</div>
				<div class="feature-box-info">
					<h4 class="pt-xs"><strong class="semi-bold">HTML5+JS+CSS+SCSS</strong></h4>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="feature-box feature-box-style-6">
				<div class="feature-box-icon">
					<i class="fa fa-check text-color-primary"></i>
				</div>
				<div class="feature-box-info">
					<h4 class="pt-xs"><strong class="semi-bold">Bootstrap 3+</strong></h4>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="feature-box feature-box-style-6">
				<div class="feature-box-icon">
					<i class="fa fa-check text-color-primary"></i>
				</div>
				<div class="feature-box-info">
					<h4 class="pt-xs"><strong class="semi-bold">Wide & Boxed Layouts</strong></h4>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="feature-box feature-box-style-6">
				<div class="feature-box-icon">
					<i class="fa fa-check text-color-primary"></i>
				</div>
				<div class="feature-box-info">
					<h4 class="pt-xs"><strong class="semi-bold">Dark & Light Versions</strong></h4>
				</div>
			</div>
		</div>
	</div>
	<div class="row mb-xl">
		<div class="col-md-3">
			<div class="feature-box feature-box-style-6">
				<div class="feature-box-icon">
					<i class="fa fa-check text-color-primary"></i>
				</div>
				<div class="feature-box-info">
					<h4 class="pt-xs"><strong class="semi-bold">Blog Pages <span class="font-size-xs"><small>(Not Functional)</small></span></strong></h4>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="feature-box feature-box-style-6">
				<div class="feature-box-icon">
					<i class="fa fa-check text-color-primary"></i>
				</div>
				<div class="feature-box-info">
					<h4 class="pt-xs"><strong class="semi-bold">Shop Pages <span class="font-size-xs"><small>(Not Functional)</small></span></strong></h4>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="feature-box feature-box-style-6">
				<div class="feature-box-icon">
					<i class="fa fa-check text-color-primary"></i>
				</div>
				<div class="feature-box-info">
					<h4 class="pt-xs"><strong class="semi-bold">RTL Support</strong></h4>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="feature-box feature-box-style-6">
				<div class="feature-box-icon">
					<i class="fa fa-check text-color-primary"></i>
				</div>
				<div class="feature-box-info">
					<h4 class="pt-xs"><strong class="semi-bold">SEO Optimized</strong></h4>
				</div>
			</div>
		</div>
	</div>
	<div class="row mb-xl">
		<div class="col-md-3">
			<div class="feature-box feature-box-style-6">
				<div class="feature-box-icon">
					<i class="fa fa-check text-color-primary"></i>
				</div>
				<div class="feature-box-info">
					<h4 class="pt-xs"><strong class="semi-bold">Google Fonts Support</strong></h4>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="feature-box feature-box-style-6">
				<div class="feature-box-icon">
					<i class="fa fa-check text-color-primary"></i>
				</div>
				<div class="feature-box-info">
					<h4 class="pt-xs"><strong class="semi-bold">Amazing Plugins</strong></h4>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="feature-box feature-box-style-6">
				<div class="feature-box-icon">
					<i class="fa fa-check text-color-primary"></i>
				</div>
				<div class="feature-box-info">
					<h4 class="pt-xs"><strong class="semi-bold">Premium resources</strong></h4>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="feature-box feature-box-style-6">
				<div class="feature-box-icon">
					<i class="fa fa-check text-color-primary"></i>
				</div>
				<div class="feature-box-info">
					<h4 class="pt-xs"><strong class="semi-bold">Skin Generator</strong></h4>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12 center">
			<hr>
			<h2><span class="alternative-font font-size-md mt-xl">and so much more...</span></h2>
		</div>
	</div>

</div>