<section class="section section-default mt-xl mb-none pb-none">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div class="row">
					<div class="col-md-3">
						<div class="feature-box feature-box-style-6">
							<div class="feature-box-icon">
								<i class="fa fa-check text-color-primary"></i>
							</div>
							<div class="feature-box-info">
								<h5 class="pt-xs"><strong class="semi-bold"><small>Unlimited</small><br>Headers</strong></h5>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="feature-box feature-box-style-6">
							<div class="feature-box-icon">
								<i class="fa fa-check text-color-primary"></i>
							</div>
							<div class="feature-box-info">
								<h5 class="pt-xs"><strong class="semi-bold"><small>Unlimited</small><br>Footers</strong></h5>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="feature-box feature-box-style-6">
							<div class="feature-box-icon">
								<i class="fa fa-check text-color-primary"></i>
							</div>
							<div class="feature-box-info">
								<h5 class="pt-sm"><strong class="semi-bold">Dark &amp; Light</strong></h5>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="feature-box feature-box-style-6">
							<div class="feature-box-icon">
								<i class="fa fa-check text-color-primary"></i>
							</div>
							<div class="feature-box-info">
								<h5 class="pt-sm"><strong class="semi-bold">Boxed &amp; Wide</strong></h5>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="carousel-areas mt-xl">
							<div class="owl-carousel m-none" data-plugin-options='{"autoHeight": true, "items": 1, "margin": 10, "nav": true, "dots": false, "stagePadding": 0}'>
								<div>
									<img alt="" class="img-responsive" src="images/previews/areas/header-1.png">
								</div>
								<div>
									<img alt="" class="img-responsive" src="images/previews/areas/header-2.png">
								</div>
								<div>
									<img alt="" class="img-responsive" src="images/previews/areas/header-3.png">
								</div>
								<div>
									<img alt="" class="img-responsive" src="images/previews/areas/header-4.png">
								</div>
							</div>
							<div class="owl-carousel m-none" data-plugin-options='{"autoHeight": true, "items": 1, "margin": 10, "nav": true, "dots": false, "stagePadding": 0}'>
								<div>
									<img alt="" class="img-responsive" src="images/previews/areas/content-1.png">
								</div>
								<div>
									<img alt="" class="img-responsive" src="images/previews/areas/content-2.png">
								</div>
								<div>
									<img alt="" class="img-responsive" src="images/previews/areas/content-3.png">
								</div>
								<div>
									<img alt="" class="img-responsive" src="images/previews/areas/content-4.png">
								</div>
							</div>
							<div class="owl-carousel m-none" data-plugin-options='{"autoHeight": true, "items": 1, "margin": 10, "nav": true, "dots": false, "stagePadding": 0}'>
								<div>
									<img alt="" class="img-responsive" src="images/previews/areas/footer-1.png">
								</div>
								<div>
									<img alt="" class="img-responsive" src="images/previews/areas/footer-2.png">
								</div>
								<div>
									<img alt="" class="img-responsive" src="images/previews/areas/footer-3.png">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>