<div class="container" id="About">
	<div class="row mt-xl mb-xl">
		<div class="col-md-7" >
			<h4 class="heading-primary">About Common Wealth Enterprises</h4>
				<h2 class="heading-primary">Expect <strong>Uncommon</strong> Results</h2>
				<p>
					A lot of consultants make promises about their ability to get your business results. And they may, in one or two specific domains.<br><br>
					But, with our 24 step business acceleration process, we're geared to looking at your business in it's totality. From customer acquisition to cost-containment, we design systems that will help you generate more revenue, while decreasing operating costs. <br><br>
					What kind of business doesn't want more money and higher margins?
				</p>
			</div>
			<div class="col-md-1">
				
			</div>
			<div class="col-md-4">
				<img class="hidden-xs img-responsive" style="margin-top: 50px;" src="images/photos/travel.jpg" alt="" data-appear-animation="fadeInRight">
			</div>
	</div>
</div>