<div class="container">
	<div class="row mt-xl mb-xl">
		
			
		
		<div class="col-md-7">
			<h2 class="mt-xl heading-primary"><strong>Uncommon</strong> Focus</h2>
			<p>Common Wealth Enterprises focuses on three core activities:</p>
			<ul>
				<li>Organizational design, development, and creation</li>
				<li>Entrepreneurial - and intrapreneurial - education, advocacy, and outreach</li>
				<li>Early-stage investment and portfolio management
</li>
			</ul>
			<p><br>What do organizations like these have in common? The need to achieve uncommon results, quickly. <br><br>
			So, if you're ready to grow your business, your profits, and your impact, contact us now to see how we might be able to help you.
			</p>	
		</div>
		<div class="col-md-1">
				
			</div>
			<div class="col-md-4">
			<img class="img-responsive mt-xl" src="images/photos/citylights.jpeg" alt="" data-appear-animation="fadeInLeft">
		</div>
	</div>
	
</div>