<div class="container">
	<div class="row">
		<div class="col-md-4">
			<div class="feature-box feature-box-style-2 reverse mb-xl" data-appear-animation="fadeInLeft" data-appear-animation-delay="300">
				<div class="feature-box-icon">
					<i class="fa fa-bolt"></i>
				</div>
				<div class="feature-box-info">
					<h4 class="mb-sm">Optimized Template</h4>
					<p class="mb-lg">Porto is optimized to load very fast in any device and also for Search Engine Optimization (SEO).</p>
				</div>
			</div>
			<div class="feature-box feature-box-style-2 reverse mt-xl" data-appear-animation="fadeInLeft" data-appear-animation-delay="600">
				<div class="feature-box-icon">
					<i class="fa fa-heart"></i>
				</div>
				<div class="feature-box-info">
					<h4 class="mb-sm">Awesome Support</h4>
					<p class="mb-lg">You won’t be alone, purchasing our theme, satisfaction is guaranteed, we really care about you and your website.</p>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<img src="images/mockup-porto.png" class="img-responsive mockup-landing-page mb-xl" alt="Porto" data-appear-animation="fadeInDown" data-appear-animation-delay="300">
		</div>
		<div class="col-md-4">
			<div class="feature-box feature-box-style-2 mb-xl" data-appear-animation="fadeInRight" data-appear-animation-delay="300">
				<div class="feature-box-icon">
					<i class="fa fa-puzzle-piece"></i>
				</div>
				<div class="feature-box-info">
					<h4 class="mb-sm">Reusable Elements</h4>
					<p class="mb-lg">Porto comes with tons of elements that allows you to create different types of pages on your website.</p>
				</div>
			</div>
			<div class="feature-box feature-box-style-2 mt-xl" data-appear-animation="fadeInRight" data-appear-animation-delay="600">
				<div class="feature-box-icon">
					<i class="fa fa-cloud-download"></i>
				</div>
				<div class="feature-box-info">
					<h4 class="mb-sm">Free Updates</h4>
					<p class="mb-lg">Purchase Porto now and get all the updates and bug fixes for free. Guaranteed!</p>
				</div>
			</div>
		</div>
	</div>
</div>