<div class="container">
	<div class="row">
		<div class="col-md-12 center mb-xl">
			<h2 class="mb-sm mt-md">Unlimited <strong>Layout</strong> Options</h2>
			<p class="lead mb-xl">You can build almost any kind of website using Porto as base.<br>The theme has several layouts options that you can easily modify.</p>
			<h4 class="heading-primary alternative-font mt-xl pt-xl">Tons of <strong class="custom-underline">Reusable Elements!</strong></h4>
		</div>
	</div>
</div>