<section class="parallax section section-parallax section-center mb-none" data-stellar-background-ratio="0.5" style="background-image: url(images/parallax-transparent.jpg);">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<i class="icon-featured fa fa-envelope" data-appear-animation="bounceIn"></i>
				<h2 class="mb-none"><strong>Get in Touch With Us</strong></h2>
			</div>
		</div>
	</div>
</section>