<section class="parallax section section-text-light section-parallax section-center" data-stellar-background-ratio="0.5" style="background-image: url(images/parallax.jpg);">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<i class="icon-featured fa fa-comments" data-appear-animation="bounceIn"></i>
				<h2 class="mb-none"><strong>We're excited about Porto Template</strong></h2>
				<h3 class="lead">5,500 customers in 100 countries use Porto Template. Meet our customers.</h3>
			</div>
		</div>
	</div>
</section>