<section class="section section-primary section-primary-scale-2 section-center section-no-border mt-none p-sm" id="demos">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ul class="nav nav-pills sort-source sort-source-style-2" data-sort-id="portfolio" data-option-key="filter">
					<li data-option-value="*" class="active"><a href="#">SHOW ALL</a></li>
					<li data-option-value=".classic"><a href="#">CLASSIC</a></li>
					<li data-option-value=".corporate"><a href="#">CORPORATE</a></li>
					<li data-option-value=".one-page"><a href="#">ONE PAGE</a></li>
				</ul>
			</div>
		</div>
	</div>
</section>
<ul class="portfolio-list sort-destination full-width-spaced mb-xl" data-sort-id="portfolio">
	<li class="col-md-3 col-sm-6 col-xs-12 isotope-item classic">
		<div class="portfolio-item center">
			<a href="index-classic.html" class="text-decoration-none block-link pt-md">
				<div class="thumb-info-ribbon">
					<span>Most Popular</span>
				</div>
				<span class="thumb-info thumb-info-preview thumb-info-preview-long mb-md">
					<span class="thumb-info-wrapper">
						<span class="thumb-info-image" data-original="images/previews/preview-classic.jpg" data-plugin-lazyload></span>
					</span>
				</span>
				<h5 class="mb-xs">Home Classic Original</h5>
				<p class="font-size-xs line-height-xs">Full Width Slider<br>Default Header</p>
			</a>
		</div>
	</li>
	<li class="col-md-3 col-sm-6 col-xs-12 isotope-item classic">
		<div class="portfolio-item center">
			<a href="index-classic-color.html" class="text-decoration-none block-link pt-md">
				<span class="thumb-info thumb-info-preview thumb-info-preview-long mb-md">
					<span class="thumb-info-wrapper">
						<span class="thumb-info-image" data-original="images/previews/preview-classic-color.jpg" data-plugin-lazyload></span>
					</span>
				</span>
				<h5 class="mb-xs">Home Classic Color</h5>
				<p class="font-size-xs line-height-xs">Full Width Slider<br>Default Header</p>
			</a>
		</div>
	</li>
	<li class="col-md-3 col-sm-6 col-xs-12 isotope-item classic">
		<div class="portfolio-item center">
			<a href="index-classic-light.html" class="text-decoration-none block-link pt-md">
				<span class="thumb-info thumb-info-preview thumb-info-preview-long mb-md">
					<span class="thumb-info-wrapper">
						<span class="thumb-info-image" data-original="images/previews/preview-classic-light.jpg" data-plugin-lazyload></span>
					</span>
				</span>
				<h5 class="mb-xs">Home Classic Light</h5>
				<p class="font-size-xs line-height-xs">Full Width Slider<br>Default Header</p>
			</a>
		</div>
	</li>
	<li class="col-md-3 col-sm-6 col-xs-12 isotope-item classic">
		<div class="portfolio-item center">
			<a href="index-classic-video.html" class="text-decoration-none block-link pt-md">
				<span class="thumb-info thumb-info-preview thumb-info-preview-long mb-md">
					<span class="thumb-info-wrapper">
						<span class="thumb-info-image" data-original="images/previews/preview-classic-video.jpg" data-plugin-lazyload></span>
					</span>
				</span>
				<h5 class="mb-xs">Home Classic Video</h5>
				<p class="font-size-xs line-height-xs">Full Width Slider<br>Default Header</p>
			</a>
		</div>
	</li>
	<li class="col-md-3 col-sm-6 col-xs-12 isotope-item classic">
		<div class="portfolio-item center">
			<a href="index-classic-video-light.html" class="text-decoration-none block-link pt-md">
				<span class="thumb-info thumb-info-preview thumb-info-preview-long mb-md">
					<span class="thumb-info-wrapper">
						<span class="thumb-info-image" data-original="images/previews/preview-classic-video-light.jpg" data-plugin-lazyload></span>
					</span>
				</span>
				<h5 class="mb-xs">Home Classic Video Light</h5>
				<p class="font-size-xs line-height-xs">Full Width Slider<br>Default Header</p>
			</a>
		</div>
	</li>
	<li class="col-md-3 col-sm-6 col-xs-12 isotope-item corporate">
		<div class="portfolio-item center">
			<a href="index-corporate.html" class="text-decoration-none block-link pt-md">
				<span class="thumb-info thumb-info-preview thumb-info-preview-long mb-md">
					<span class="thumb-info-wrapper">
						<span class="thumb-info-image" data-original="images/previews/preview-corporate.jpg" data-plugin-lazyload></span>
					</span>
				</span>
				<h5 class="mb-xs">Home Corporate Version 1</h5>
				<p class="font-size-xs line-height-xs">Full Width Slider<br>Default Header</p>
			</a>
		</div>
	</li>
	<li class="col-md-3 col-sm-6 col-xs-12 isotope-item corporate">
		<div class="portfolio-item center">
			<a href="index-corporate-2.html" class="text-decoration-none block-link pt-md">
				<span class="thumb-info thumb-info-preview mb-md">
					<span class="thumb-info-wrapper">
						<span class="thumb-info-image" data-original="images/previews/preview-corporate-version2.jpg" data-plugin-lazyload></span>
					</span>
				</span>
				<h5 class="mb-xs">Home Corporate Version 2</h5>
				<p class="font-size-xs line-height-xs">Full Width Slider<br>Default Header</p>
			</a>
		</div>
	</li>
	<li class="col-md-3 col-sm-6 col-xs-12 isotope-item corporate">
		<div class="portfolio-item center">
			<a href="index-corporate-3.html" class="text-decoration-none block-link pt-md">
				<span class="thumb-info thumb-info-preview thumb-info-preview-long mb-md">
					<span class="thumb-info-wrapper">
						<span class="thumb-info-image" data-original="images/previews/preview-corporate-version3.jpg" data-plugin-lazyload></span>
					</span>
				</span>
				<h5 class="mb-xs">Home Corporate Version 3</h5>
				<p class="font-size-xs line-height-xs">Full Width Slider<br>NavBar Header</p>
			</a>
		</div>
	</li>
	<li class="col-md-3 col-sm-6 col-xs-12 isotope-item corporate">
		<div class="portfolio-item center">
			<a href="index-corporate-4.html" class="text-decoration-none block-link pt-md">
				<span class="thumb-info thumb-info-preview thumb-info-preview-long mb-md">
					<span class="thumb-info-wrapper">
						<span class="thumb-info-image" data-original="images/previews/preview-corporate-version4.jpg" data-plugin-lazyload></span>
					</span>
				</span>
				<h5 class="mb-xs">Home Corporate Version 4</h5>
				<p class="font-size-xs line-height-xs">Full Width Slider<br>Default Header</p>
			</a>
		</div>
	</li>
	<li class="col-md-3 col-sm-6 col-xs-12 isotope-item corporate">
		<div class="portfolio-item center">
			<a href="index-corporate-5.html" class="text-decoration-none block-link pt-md">
				<span class="thumb-info thumb-info-preview thumb-info-preview-long mb-md">
					<span class="thumb-info-wrapper">
						<span class="thumb-info-image" data-original="images/previews/preview-corporate-version5.jpg" data-plugin-lazyload></span>
					</span>
				</span>
				<h5 class="mb-xs">Home Corporate Version 5</h5>
				<p class="font-size-xs line-height-xs">Full Width Slider<br>Dark Top Bar</p>
			</a>
		</div>
	</li>
	<li class="col-md-3 col-sm-6 col-xs-12 isotope-item corporate">
		<div class="portfolio-item center">
			<a href="index-corporate-6.html" class="text-decoration-none block-link pt-md">
				<span class="thumb-info thumb-info-preview thumb-info-preview-long mb-md">
					<span class="thumb-info-wrapper">
						<span class="thumb-info-image" data-original="images/previews/preview-corporate-version6.jpg" data-plugin-lazyload></span>
					</span>
				</span>
				<h5 class="mb-xs">Home Corporate Version 6</h5>
				<p class="font-size-xs line-height-xs">Full Width Slider<br>Light Top Bar</p>
			</a>
		</div>
	</li>
	<li class="col-md-3 col-sm-6 col-xs-12 isotope-item corporate">
		<div class="portfolio-item center">
			<a href="index-corporate-7.html" class="text-decoration-none block-link pt-md">
				<div class="thumb-info-ribbon">
					<span>New</span>
				</div>
				<span class="thumb-info thumb-info-preview thumb-info-preview-long mb-md">
					<span class="thumb-info-wrapper">
						<span class="thumb-info-image" data-original="images/previews/preview-corporate-version7.jpg" data-plugin-lazyload></span>
					</span>
				</span>
				<h5 class="mb-xs">Home Corporate Version 7</h5>
				<p class="font-size-xs line-height-xs">Full Width Slider<br>Transparent Header</p>
			</a>
		</div>
	</li>
	<li class="col-md-3 col-sm-6 col-xs-12 isotope-item corporate">
		<div class="portfolio-item center">
			<a href="index-corporate-8.html" class="text-decoration-none block-link pt-md">
				<div class="thumb-info-ribbon">
					<span>New</span>
				</div>
				<span class="thumb-info thumb-info-preview thumb-info-preview-long mb-md">
					<span class="thumb-info-wrapper">
						<span class="thumb-info-image" data-original="images/previews/preview-corporate-version8.jpg" data-plugin-lazyload></span>
					</span>
				</span>
				<h5 class="mb-xs">Home Corporate Version 8</h5>
				<p class="font-size-xs line-height-xs">Full Width Slider<br>Dark Top Bar</p>
			</a>
		</div>
	</li>
	<li class="col-md-3 col-sm-6 col-xs-12 isotope-item one-page">
		<div class="portfolio-item center">
			<a href="index-one-page.html" class="text-decoration-none block-link pt-md">
				<span class="thumb-info thumb-info-preview thumb-info-preview-long mb-md">
					<span class="thumb-info-wrapper">
						<span class="thumb-info-image" data-original="images/previews/preview-one-page.jpg" data-plugin-lazyload></span>
					</span>
				</span>
				<h5 class="mb-xs">Home One Page Original</h5>
				<p class="font-size-xs line-height-xs">Full Width Slider<br>Flat Header</p>
			</a>
		</div>
	</li>
</ul>