<div class="slider-container slider-container-fullscreen" >
	<div class="slider" id="revolutionSliderFullScreen" data-plugin-revolution-slider data-plugin-options='{"fullScreen": "on"}'>
		<ul>
			<li data-transition="fade" data-slotamount="10" data-masterspeed="300">
				<img src="images/slides/sailboat.jpeg" " data-fullwidthcentering="on" alt="">

					<div class="tp-caption sft stb visible-lg"
						 data-x="220"
						 data-y="100"
						 data-speed="300"
						 data-start="1000"
						 data-easing="easeOutExpo"><img src="images/slides/slide-title-border.png" alt=""></div>

					<div class="tp-caption top-label lfl stl"
						 data-x="center" data-hoffset="0"
						 data-y="100"
						 data-speed="300"
						 data-start="500"
						 data-easing="easeOutExpo">We Grow Revenues, Shrink Costs, and Explode Margins</div>

					<div class="tp-caption sft stb visible-lg"
						 data-x="915"
						 data-y="100"
						 data-speed="300"
						 data-start="1000"
						 data-easing="easeOutExpo"><img src="images/slides/slide-title-border.png" alt=""></div>

					<div class="tp-caption main-label sft stb"
						 data-x="center" data-hoffset="0"
						 data-y="130"
						 data-speed="300"
						 data-start="1500"
						 data-easing="easeOutExpo">Common Wealth Enterprises</div>

					<div class="tp-caption bottom-label sft stb"
						 data-x="center" data-hoffset="0"
						 data-y="200"
						 data-speed="500"
						 data-start="2000"
						 data-easing="easeOutExpo">Where Uncommon Results are Common</div>

					<a class="tp-caption customin btn btn-lg btn-primary main-button" data-hash data-hash-offset="85" href="#About"
						data-x="center" data-hoffset="0"
						data-y="250"
						data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
						data-speed="800"
						data-start="1700"
						data-easing="Back.easeInOut"
						data-endspeed="300">
							Learn More
					</a>

			</li>
			
		</ul>
	</div>
</div>