<section id="team">
	<div class="container">
		<div class="row mt-xlg">
			<div class="col-md-8">
				<h2 class="heading-primary">Our <strong>Services</strong></h2>
				<p>Using our proprietary 24 step business acceleration process, Common Wealth Enterprises assists its portfolio companies and clients in organizational design, operational strategy, and project management.<br><br>
				Let us help:</p>
			</div>
		</div>
		
		
		<div class="row mb-xlg">
			<% data.team.each do | key, value| %>
			<div class="col-md-4 col-sm-6 col-xs-12" ">
				<span class="thumb-info thumb-info-hide-wrapper-bg" style="background-color:#F8F8F8;">
					<span class="thumb-info-wrapper">
						<a href="<%= value.link %>">
							<img src="<%= value.picture %>" class="img-responsive"  alt="">
							
						</a>
					</span>
					<span class="thumb-info-caption">
						
								<h5 style="margin:0;"><span class="thumb-info-social-icons"" style="margin:0; padding-bottom:0;"><%= key %></span></h5>
						
						<span class="thumb-info-caption-text"><%= value.description %></span>
						<span class="thumb-info-social-icons">
							
							
						
						</span>
							<a class="tp-caption customin btn btn-lg btn-primary main-button" data-hash data-hash-offset="150" href="#contact"
						data-x="50%" data-hoffset="0"
						data-y="100"
						>
							Contact Us to Learn More
					</a>
					</span>
				</span>
			</div>
			<% end %>
		</div>
		<div class="row mt-xlg" >
			<div class="col-md-8">
				
				<p>Driving sustainable change is not possible without first bridging the gap between vision and execution. We'll work closely with you to eliminate this gap and maximize impact.</p>
			</div>
		</div>
		
	</div>
</section>