<section class="parallax section section-text-light section-parallax section-center mt-xl mb-none" data-stellar-background-ratio="0.5" style="background-color: #9F0603;">
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<h2><i class="fa fa-star font-size-xs mr-xs"></i><i class="fa fa-star font-size-xs mr-xs"></i><i class="fa fa-star font-size-xs mr-xs"></i><i class="fa fa-star font-size-xs mr-xs"></i><i class="fa fa-star font-size-xs"></i><br><strong>What Client’s Say</strong></h2>
				<div class="owl-carousel nav-bottom rounded-nav mb-none" data-plugin-options='{"items": 1, "loop": false}'>
					<div>
						<div class="col-md-12">
							<div class="testimonial testimonial-style-2 testimonial-with-quotes mb-none">
								<blockquote>
									<p>Outstanding about everything : - Support is fast and perfect : I got answers to every questions I asked. - Code quality is up to date, modern, structured, clear, easy to understand. - Responsive IS responsive (any screen size, smartphone & tablet. - Design is pure and esthetic. - Okler provide update. Thank you Okler team for all of this ! Keep going !</p>
								</blockquote>
								<div class="testimonial-author">
									<p><strong>Gothvel</strong></p>
								</div>
							</div>
						</div>
					</div>
					
						
				</div>
			</div>
		</div>
	</div>
</section>