<div class="container">
	<div class="row mt-xlg">
		<div class="col-md-5">
			<h2><strong>Who</strong> We Are</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula. </p>
		</div>
		<div class="col-md-7">
			<div class="progress-bars">
				<div class="progress-label">
					<span>HTML/CSS</span>
				</div>
				<div class="progress">
					<div class="progress-bar progress-bar-primary" data-appear-progress-animation="100%">
						<span class="progress-bar-tooltip">100%</span>
					</div>
				</div>
				<div class="progress-label">
					<span>Design</span>
				</div>
				<div class="progress">
					<div class="progress-bar progress-bar-primary" data-appear-progress-animation="85%" data-appear-animation-delay="300">
						<span class="progress-bar-tooltip">85%</span>
					</div>
				</div>
				<div class="progress-label">
					<span>WordPress</span>
				</div>
				<div class="progress">
					<div class="progress-bar progress-bar-primary" data-appear-progress-animation="75%" data-appear-animation-delay="600">
						<span class="progress-bar-tooltip">75%</span>
					</div>
				</div>
				<div class="progress-label">
					<span>Photoshop</span>
				</div>
				<div class="progress">
					<div class="progress-bar progress-bar-primary" data-appear-progress-animation="85%" data-appear-animation-delay="900">
						<span class="progress-bar-tooltip">85%</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>