<div class="container">
	<div class="row center mt-md">
		<div class="col-md-12">
			<h1 class="mb-sm word-rotator-title">
				<%= data.site.defaults.companyname %> is
				<strong class="inverted">
					<span class="word-rotate" data-plugin-options='{"delay": 2000, "animDelay": 300}'>
						<span class="word-rotate-items">
							<span>incredibly</span>
							<span>especially</span>
							<span>extremely</span>
						</span>
					</span>
				</strong>
				beautiful and fully responsive.
			</h1>
			<p class="lead">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce elementum, nulla vel pellentesque consequat, ante nulla hendrerit arcu, ac tincidunt mauris lacus sed leo. vamus suscipit molestie vestibulum.
			</p>

			<hr class="tall mb-none">

		</div>
	</div>
</div>