<div class="row">
	<div class="col-md-12 center">
		<h2 class="mt-xl mb-none">Optimized for <strong>Mobile Devices</strong> <span class="alternative-font font-size-md">...too!</span></h2>
		<p class="lead mb-xl">Porto is fully responsive design, ready to look stunning on any device.</p>
		<hr class="invisible">
	</div>
</div>